@import "variables";

// hero image animation
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
.UpDown {
  animation: moveUpDown 4s infinite cubic-bezier(0.4, 0.1, 0.6, 0.9);
} // hero image animation end
